<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1><%=@params[:coach]%></h1>
   <h2><p>Coach: <%=@params[:coach]%></p></h2>
   <h2><p>Point Guard: <%=@params[:coach]%></p></h2>
   <h2><p>Shooting Guard:<%=@params[:coach]%></p></h2>
   <h2><p>Power Forward:<%=@params[:coach]%></p></h2>
   <h2><p>Small Forward:<%=@params[:coach]%></p></h2>
   <h2><p>Center:<%=@params[:coach]%></p></h2>

 </body>
</html>
