<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1><%=@name%></h1>
   <h2><p>Coach: <%=@coach%></p></h2>
   <h2><p>Point Guard: <%=@coach%></p></h2>
   <h2><p>Shooting Guard:<%=@coach%></p></h2>
   <h2><p>Power Forward:<%=@coach%></p></h2>
   <h2><p>Small Forward:<%=@coach%></p></h2>
   <h2><p>Center:<%=@coach%></p></h2>

 </body>
</html>
